.SearchContacts {
    grid-area: searchContacts;
    background-color: rgba(244, 244, 244, 1);
    display: flex;
    position: relative;
}

.SearchContactsWrapper {
    width: 260px;
    height: 20px;
    position: absolute;
    top: 9px;
    left: 19px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(186, 186, 186, 1);
}

.SearchContactsMagnifier {
    width: 10.98px;
    height: 10.98px;
    position: absolute;
    top: 6.45px;
    left: 1.95px;
    z-index: 1;
    color: rgba(186, 186, 186, 1);
    font-size: 26px;
    transform: rotate(270deg);
    cursor: pointer;
}

.SearchContactsInput {
    width: 106px;
    height: 16px;
    position: absolute;
    top: 1px;
    left: 35px;
    border-radius: 5px;
    border: none;
}

.SearchContactsInput::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: rgba(186, 186, 186, 1);
}