.ContactList {
    grid-area: contactList;
    background-color: rgba(255, 255, 255, 1);
    margin: 10px 20px;
    overflow: hidden;
}

.ContactListTitle {
    font-size: 15px;
    font-weight: bold;
    color: rgba(34, 148, 203, 1);
    width: 137px;
    line-height: 18px;
    padding: 15px 0;
}

.ContactListUsers {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(186, 186, 186, 1);
    margin: 5px 0;
    cursor: pointer;
}

.ContactListUsers:last-child {
    border-bottom: none;
}

.ContactListUsername {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    padding-left: 10px;
}