.InputMessageBox {
    grid-area: inputMessageBox;
    background-color: rgba(244, 244, 244, 1);
    border-left: 0.5px solid rgba(186, 186, 186, 1);
    display: flex;
    width: 1065px;
    height: 49.5px;
}

.InputMessageBoxPlusButton {
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.InputMessageBoxPlusButton :first-child {
    width: 17.12px;
    height: 0px;
    border: 0.5px solid rgba(186, 186, 186, 1);
    position: absolute;
    top: 14.5px;
    left: 5.5px;
}

.InputMessageBoxPlusButton :last-child {
    width: 17.12px;
    height: 0px;
    border: 0.5px solid rgba(186, 186, 186, 1);
    transform: rotate(90deg);
    position: absolute;
    top: 14.5px;
    left: 5.5px;
}

.InputMessageBoxInput {
    width: 936px;
    height: 30px;
    margin-top: 9px;
    border-radius: 5px;
    border: 1px solid rgba(186, 186, 186, 1);
    padding-left: 10px;
}

.InputMessageBoxInput::placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    color: rgba(186, 186, 186, 1);
    
}

.InputMessageBoxSendButton {
    width: 30px;
    height: 30px;
    margin: 10px 20px 10px 10px;
    background-color: rgba(34, 148, 203, 1);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.InputMessageBoxArrow {
    width: 16.95px;
    height: 12.96px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 4px;
    left: 6.5px;
}

input:focus{
    outline: none;
}

