.Header {
    grid-area: header;
    background-color: rgba(244, 244, 244, 1);
    border-left: 0.5px solid rgba(186, 186, 186, 1);
    width: 1065px;
}

.HeaderUsers {
    display: flex;
    align-items: center;
    margin: 7.5px 20px;
}

.HeaderUsername {
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    padding-left: 10px;
    width: 280px;
}

.HeaderImage {
    border: 3px solid rgba(234, 196, 123, 1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.HeaderWrapper {
    position: relative;
    width: 183px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(186, 186, 186, 1);
    margin-left: 469px;
}

.HeaderMagnifier {
    width: 10.98px;
    height: 10.98px;
    position: absolute;
    top: 5.5px;
    left: -5px;
    z-index: 1;
    color: rgba(186, 186, 186, 1);
    font-size: 26px;
    transform: rotate(270deg);
    cursor: pointer;
}

.HeaderInput {
    width: 128px;
    height: 16px;
    position: absolute;
    top: 1px;
    left: 30px;
    border-radius: 5px;
    border: none;
}

.HeaderInput::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: rgba(186, 186, 186, 1);
}

.HeaderButtonWrapper {
    width: 23px;
    height: 23px;
    background-color: rgba(255, 255, 255, 1);
    border: 1.3px solid rgba(34, 148, 203, 1);
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

.HeaderButton {
    color: rgba(34, 148, 203, 1);
    text-align: center;
}