.NewMessage {
    grid-area: newMessage;
    display: flex;
    background-color: rgba(34, 148, 203, 1);
    color: rgba(255, 255, 255, 1);
}

.NewMessageArrow {
    width: 20px;
    height: 15.29px;
    margin: 48px 0 0 20px;
    cursor: pointer;
}

.NewSingleMessageTitle {
    width: 148px;
    height: 18px;
    margin: 50px 0 0 15px;
    font-size: 15px;
    cursor: pointer;
}